<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>
</head>
<body>
    <h1>Shahbaz</h1>
    <span>your email is <%=data.email%> </span>
    <span>your city name is = <%=data.city%> </span>
</body>
</html>